<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>hu.bute.daai.amorg.drtorrent.analytics.servlet.TestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AnalyticsServlet</servlet-name>
        <servlet-class>hu.bute.daai.amorg.drtorrent.analytics.servlet.AnalyticsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AnalyticsV2Servlet</servlet-name>
        <servlet-class>hu.bute.daai.amorg.drtorrent.analytics.servlet.AnalyticsV2Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatisticsServlet</servlet-name>
        <servlet-class>hu.bute.daai.amorg.drtorrent.analytics.servlet.StatisticsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DatabaseTest</servlet-name>
        <servlet-class>hu.bute.daai.amorg.drtorrent.analytics.servlet.DatabaseTest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AnnounceServlet</servlet-name>
        <servlet-class>hu.bute.daai.amorg.drtorrent.tracker.servlet.AnnounceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/Test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnalyticsServlet</servlet-name>
        <url-pattern>/Analytics</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnalyticsV2Servlet</servlet-name>
        <url-pattern>/AnalyticsV2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatisticsServlet</servlet-name>
        <url-pattern>/Statistics</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DatabaseTest</servlet-name>
        <url-pattern>/DatabaseTest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnnounceServlet</servlet-name>
        <url-pattern>/announce</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
